.signup{
    width: 25vw;
    height: 60vh;
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    border-radius: 10px;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: space-around
}
.textsignup{
    width: 100%;
    height: 12%;    
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    color: #878787;
    /* margin-left: 150px; */
    
}
#textsignup{    
    color: #878787;
    margin-left: 250px;
    font-size: 1.5em;
    font-weight: bold;
}
@media only screen and (min-width:320px) and (max-width:480px){
    .signup{
        width: 100vw;
        height:100vh
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    .signup{
        width:100vw
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .signup{
        width:35vw;
        /* align-content:space-between */
        /* height: 60vh */
    }
}