
.mainbox{
    height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #878787;
    position: relative;
    z-index: 0;
}
.whitebox{
    height:50vh;
    width: 50vw;
    border-radius: 20px;
    background-color: #F5F5F5;    
    display: flex;
    align-items: center;
    position: relative;
}
.image{
    height:100%;
    width: 50%;    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
#image{
    width: 15vw;
    border-radius: 100%;
}
#text{
    font-size: 1.5em;
    font-weight: bold;
}
.render{
    height: 60vh;
    width: 25vw;
}
@media only screen and (min-width : 320px) and (max-width : 480px){
.mainbox{

   /* width: 0%; */
   height:0%;
   background-color: none;
}
.image{
    width:100vw
}
#image{
    display: none;
}
.whitebox{
    height: 10vh;
    width: 100vw;
    border-radius: 0px;
    flex-direction: column;
}
.render{
    width: 100vw;
    height: 0;
}

}
@media only screen and (min-width : 481px) and (max-width : 768px){
    .mainbox{

        /* width: 0%; */
        height:0%;
        background-color: #FFFFFF;
     }
     #image{
        width:50%
    }
    .whitebox{
        height:70vh;
        width: 100vw;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
    }
    .image{
        width:80%;
        height: 50%;
        flex-direction: row;
    }
    .render{
        width: 100vw;
        height: 0;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .whitebox{
        width:70vw;
       
    }
    .render{
        width:35vw
    }
    #image{
        width: 30vw;
        border-radius: 100%;
    }
}